<ion-header color="header">
    <ion-navbar color="header">
        <ion-title>Questionnaire &nbsp;&nbsp;&nbsp;Q - &nbsp;&nbsp;{{Question_Index}}</ion-title>
        <ion-buttons end>
            <button ion-button (click)="closeModal()">SKIP</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <!--  <h1>
                Are You Satisfied the work of the goverment of Arvind Kejriwal in Delhi ?
            </h1>

      <ion-card>
        <ion-item>

          <h2 center>Yes</h2>

        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item>

          <h2 center>No</h2>

        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item >

          <h2 center>50 -50 </h2>

        </ion-item>
      </ion-card>
      <ion-card>
          <ion-item (click)="SaveGender(k.value,k.text)">

            <h2 center>Don't Know </h2>

          </ion-item>
        </ion-card>
    -->
    <div padding class="c1">


        <h3>
            {{Question}}
        </h3>
        <div class="hr"> </div>
        <h3>
            {{OtherLanguage}}
        </h3>
    </div>
    
        <div *ngFor="let k of _List; let i=index">
            <ion-card *ngIf="k.IsShow">
                <ion-item (click)="SaveGender(k.value,k.text,k.QuestionID,k.QIndex)" [ngStyle]="{'height': height}">
                    <h1 text-wrap style="color:red;padding-left: 20px">{{k.text}}</h1>
                    <h1 text-wrap style="color:black;padding-left: 20px">{{k.OtherLanguage}}</h1>
                </ion-item>
            </ion-card>
        </div>
    

</ion-content>