page-feed-back {

    .text-input {
        border-style: thick;
       
        resize: none;
        outline: none;
    }
    .text-input:focus {
        border-style: thick;
       
        resize: none;
        outline: none;
    }
    textarea
    {
        border-style: thick;
    }
}
