page-survey {
    .item-block h1{
      
        text-align: center!important;
        font-size:xx-large!important;
        font-weight: bold;
        font-style: italic;
        font-family: 'Times New Roman'
    }
    h1{
        font-size:xx-large !important;
        font-weight: bold;
        text-align: center!important;
        font-style: italic;
        font-family:  'Times New Roman'
    }
    .img1
    {
       /*  margin-top: -10px;
        margin-left: -10px;
        margin-right: 0px; */
        background-image:url('/assets/img/bg.png');
        background-size: cover;
       /*  width: 105%;
        height: 98%; */
    }


    .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
        bottom:0px !important;
        top:0px!important;
        height:0px!important;
    }
}
