page-sub-cast {
    .item-block
    {
        background-color: #ffffB9;
        color:  #ffff;
    }
    .item-block h1{
        color: red;
    }
    .item-block h2{
        color: blue;
    }
    .item-radio.item-md ion-label
    {
        color: red;
    }
}
