page-list-master {
    .item-block
    {
        background-color: #b3d1ff;
        color:  #ffff;
    }
    .item-block h1{
        color: red;
    }
    .item-block h2{
        color: blue;
    }
}
